<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <style>
	body {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		max-width: 300px;
		background-color: GhostWhite; 
	}
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
